@model kluo.Models.AboutModel
@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Model.Name</h2>
</hgroup>

<div>Location: @Model.Location</div>

<article>
    <p>
        Kevin is a Software Developer working in Zhuhai, China.
    </p>

    <p>
        He has a son, who is 3 years old.
    </p>

    <p>
        He likes Music pretty much.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>